<html>
<head>
	<title>Pandora Likes</title>
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/display.css">
</head>
<body>
	<table class="table">
		<thead>
			<tr><th>Song</th><th>Artist</th><th>Station</th></tr>
		</thead>
		<tbody id="likes"></tbody>
	</table>
	<script type="text/javascript" src="/assets/javascripts/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="/assets/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/javascripts/display.js"></script>
</body>
</html>