<html>
<head>
	<title>Pandora Likes</title>
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/popup.css">
</head>
<body>
	<button id="show-likes">Show me my likes!</button>
	<script type="text/javascript" src="/assets/javascripts/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="/assets/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/assets/javascripts/popup.js"></script>
</body>
</html>